body {
  font-synthesis: unset;
}

.home {
  font-size: 16px !important;
}

// home
.home .image {
  width: 140px !important;
}
.home h1.title {
  font-size: 24px;
}
.home .tagline {
  font-size: 20px !important;
}